NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_EMAIL_DOMAIN=
GOOGLE_SERVICE_ACCOUNT_KEY=
ROOT_DRIVE_FOLDER_ID=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=the-gs-9261e.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_KEEP_ALIVE_SECRET=
SUPABASE_KEEP_ALIVE_URL=
CRON_SECRET=
GOTENBERG_URL=
GOTENBERG_AUTH_TOKEN=
APP_URL=http://localhost:3000
WEBHOOK_SECRET=
SERVICE_ACCOUNT_EMAIL=
DRIVE_OWNER_CLIENT_ID=
DRIVE_OWNER_CLIENT_SECRET=
DRIVE_OWNER_REFRESH_TOKEN=
PDF_RASTERIZER_URL=https://pdf-rasterizer-844730527625.us-central1.run.app
